<button
  class="ui-btn"
  [appTooltip]="tooltip"
  [ngClass]="[
    'ui-btn--' + type,
    fullWidth ? 'ui-btn--full' : '',
    iconOnly ? 'ui-btn--icon' : '',
    loading ? 'ui-btn--loading' : ''
  ]"
  [disabled]="disabled || loading"
  (click)="onClick()"
>
  <ng-container *ngIf="!loading; else spinnerTemplate">
    <i *ngIf="icon" [class]="icon"></i>

    <span *ngIf="!iconOnly">
      {{ label }}
    </span>
  </ng-container>

  <ng-template #spinnerTemplate>
    <span class="spinner"></span>
  </ng-template>
</button>
