  <article class="settings-card">
    <h3>Change password</h3>

    <div class="profile-fields">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">

        <!-- Current Password -->
        <label>Current password</label>
        <input type="password" formControlName="current">
        <div class="error" *ngIf="changePasswordForm.get('current')?.invalid &&
                    changePasswordForm.get('current')?.touched">
          <p *ngIf="changePasswordForm.get('current')?.errors?.['required']">
           Current Password is required.
          </p>
          <p *ngIf="changePasswordForm.get('current')?.errors?.['minlength']">
            Minimum {{ changePasswordForm.get('current')?.errors?.['minlength'].requiredLength }} characters.
          </p>
        </div>

        <!-- New Password -->
        <label>New password</label>
        <input type="password" formControlName="password">
        <div class="error" *ngIf="changePasswordForm.get('password')?.invalid &&
                    changePasswordForm.get('password')?.touched">
          <p *ngIf="changePasswordForm.get('password')?.errors?.['required']">
            New password is required.
          </p>
          <p *ngIf="changePasswordForm.get('password')?.errors?.['minlength']">
            Minimum {{ changePasswordForm.get('password')?.errors?.['minlength'].requiredLength }} characters.
          </p>
        </div>

        <!-- Confirm Password -->
        <label>Confirm password</label>

        <input type="password" formControlName="confirmPassword">
          <div class="error" *ngIf="changePasswordForm.get('confirmPassword')?.invalid &&
                      changePasswordForm.get('confirmPassword')?.touched">
            <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['required']">
              Confirm password is required.
            </p>
            <p *ngIf="changePasswordForm.get('confirmPassword')?.errors?.['minlength']">
              Minimum {{ changePasswordForm.get('confirmPassword')?.errors?.['minlength'].requiredLength }} characters.
            </p>
          </div>

        <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">
           {{ buttonChangePasswordLabel() }}
        </button>
      </form>
    </div>
  </article>
