


.menu-btn i {
  font-size: 20px;
}

.menu-dropdown {
  position: absolute;

  top: 45px;
  right: 0;

  min-width: 180px;
   background: #121212;

  border: 1px solid rgba(255,255,255,.08);
  border-radius: 14px;

  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  z-index: 100;
  box-shadow: 0 10px 30px rgba(0,0,0,.4);
}
