<section class="motorcycles-page">
  @if (totalItems() > 0) {
  <div class="row">
    <!-- HEADER -->
    <div class="motorcycles-header">
      <div class="header-content">
        <h1>Motorcycles</h1>
        <p>You Can Rental a Motorcycle</p>
      </div>
    </div>
  </div>

  <!-- MOTORCYCLES -->
    <div class="row">
      <div class="col">
        <!-- FILTERS -->
        <app-motorcycle-filter></app-motorcycle-filter>
      </div>

      <div class="col">
        <!-- display all motorcycles -->
        <div class="motorcycles-grid">
          @for (motorcycle of motorcycles(); track motorcycle.id) {
            <app-motorcycle-card
              [motorcycle]="motorcycle"
              (onAddToCart)="openAddToCartModal($event)"
              (onDetails)="openDetailsModal($event)"
            />
          }
        </div>

        <!-- PAGINATION -->
        <div class="pagination-container">
          <app-pagination
            [totalItems]="totalItems()"
            [itemsPerPage]="itemsPerPage"
            [currentPage]="currentPage"
            (pageChanged)="pageChanged($event)"
          >
          </app-pagination>
        </div>
      </div>
    </div>
  } @else {
    <app-no-content></app-no-content>
  }
</section>


@if(showDetailsModal()){
  <app-details-motorcycle
    [selectedMotorcycleId]="selectedMotorcycleId()"
    (close)="closeDetailsModal()"
  />
}
